AI-Powered QA Bug Reporting .json
{
  "name": "AI Bug Report Assistant - FINAL",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "38981514-0cf6-4774-95c2-1a66ac282d3c",
      "name": "Ensure Data Flow",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1008,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "content",
              "value": "={{ $('Evaluate Similarity').item.json.newBug.title + ' ' + $('Evaluate Similarity').item.json.newBug.expected_result }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "metadata",
              "value": "={{ { 'Title': $('Evaluate Similarity').item.json.newBug.title, 'Summary': $('Evaluate Similarity').item.json.newBug.summary, 'Expected': $('Evaluate Similarity').item.json.newBug.expected_result, 'Actual': $('Evaluate Similarity').item.json.newBug.actual_result, 'Severity': $('Evaluate Similarity').item.json.newBug.severity, 'Priority': $('Evaluate Similarity').item.json.newBug.priority, 'Environment': $('Evaluate Similarity').item.json.newBug.environment, 'Jira ID': $(\"Code in JavaScript\").item.json.ticketKey, 'Jira URL': $(\"Code in JavaScript\").item.json.jiraURL } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "123a1c2c-1c95-4577-a3e1-626c7e6301a4",
      "name": "Prepare Bug for Storage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        0
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              },
              {
                "name": "severity",
                "value": "={{ $json.metadata.severity }}"
              },
              {
                "name": "priority",
                "value": "={{ $json.metadata.priority }}"
              },
              {
                "name": "summary",
                "value": "={{ $json.metadata.summary }}"
              },
              {
                "name": "steps",
                "value": "={{ $json.metadata.steps }}"
              },
              {
                "name": "expected_result",
                "value": "={{ $json.metadata.expected_result }}"
              },
              {
                "name": "actual_result",
                "value": "={{ $json.metadata.actual_result }}"
              },
              {
                "name": "environment",
                "value": "={{ $json.metadata.environment }}"
              },
              {
                "name": "additional_info",
                "value": "={{ $json.metadata.additional_info }}"
              },
              {
                "name": "reproduction_frequency",
                "value": "={{ $json.metadata.reproduction_frequency }}"
              }
            ]
          }
        }
      },
      "id": "1a6014b0-920e-4a82-9d53-6af9139d2240",
      "name": "Prepare Storage Document",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1816,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "392daa3b-9da0-490e-abcd-06ceb869704e",
      "name": "Generate Storage Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1688,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "QC6ljlMD1EMpGtNB",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "eba9cf11-b319-4217-80a9-e59d6ad11142",
      "name": "Store Bug in Vector DB",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const newBug = $('Report Parser').first().json;\nconst items = $input.all();\nconst searchResult = items.find(item => item.json.score !== undefined);\n\nif (!searchResult) {\n  return [{\n    json: {\n      isDuplicate: false,\n      newBug: newBug,\n      similarityScore: 0,\n      note: \"No similar bugs found.\"\n    }\n  }];\n}\n\nconst similarityScore = searchResult.json.score || 0;\nconst THRESHOLD = 0.85;\n\nreturn [{\n  json: {\n    isDuplicate: similarityScore >= THRESHOLD,\n    newBug: newBug,\n    similarityScore: similarityScore,\n    matchedBug: searchResult.json.metadata || searchResult.json\n  }\n}];\n"
      },
      "id": "7b9bb470-b1de-4764-ba7f-cff4cc4bb730",
      "name": "Evaluate Similarity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "query",
              "value": "={{ $json.title + ' ' + $json.expected_result }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e7c6e681-8037-4d84-b7f9-eb0cb0879bd1",
      "name": "Format Search Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        124
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1kvAe0lAuccETd4P2AXmN7G9cTyGydErtYvtL_ZP2r94",
          "cachedResultName": "Bug Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kvAe0lAuccETd4P2AXmN7G9cTyGydErtYvtL_ZP2r94/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1743300945,
          "cachedResultName": "BugReports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kvAe0lAuccETd4P2AXmN7G9cTyGydErtYvtL_ZP2r94/edit#gid=1743300945"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Jira ID": "={{ $('Code in JavaScript').item.json.ticketKey }}",
            "Jira URL": "={{ $('Code in JavaScript').item.json.jiraURL }}",
            "Title": "={{ $('Prepare Bug for Storage').item.json.metadata.Title }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jira ID",
              "displayName": "Jira ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jira URL",
              "displayName": "Jira URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {}
          }
        }
      },
      "id": "71f5d9a5-2eed-4426-b6c8-2c954e21d710",
      "name": "Update Sheet with Jira ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LFFSZmgHO3nODSRQ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "username",
          "value": "@bs.sabdulhaq"
        },
        "text": "=⚠️ *Duplicate Bug Report Detected*\n\nHey! The bug you just reported appears to be a duplicate of an existing issue.\n\n📋 *Your Report*\n*Title:* {{ $json.newBug.title }}\n*Time:* {{ $now.format('MM DD HH:MM') }}\n\n🎫 *Jira Ticket*\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "95f7f48d-d61b-4aaa-8de6-bc3241dc552b",
      "name": "Notify Duplicate",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -336,
        -96
      ],
      "webhookId": "4fcc1671-e7ad-4da4-8cec-441ba375a504",
      "credentials": {
        "slackOAuth2Api": {
          "id": "IKR8DkPGs7BT05tQ",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "541e8ae0-9e07-4099-8308-b4db117729d0",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const jiraData = $json;\n\nconst ticketKey = jiraData.key;\nconst self = jiraData.self;\nconst issueId = jiraData.id;\n\n// Extract base URL dynamically\nconst baseURL = self.split('/rest')[0];\n\n// Build final Jira URL\nconst jiraURL = `${baseURL}/browse/${ticketKey}`;\n\nreturn [\n  {\n    json: {\n      ticketKey,\n      jiraURL,\n      issueId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "fc1b3ca0-9e4a-487e-b56d-6170eb269f67",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2376,
        224
      ],
      "id": "3b44fa4b-cb50-4c38-8a41-f17c417c99cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QC6ljlMD1EMpGtNB",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.files }}",
        "options": {
          "systemMessage": "You are a QA Bug Report Assistant. Your task is to take raw user issue descriptions and generate professional, well-formatted bug reports.\n\nOPTIONAL DATA:\n\nAttachments: Screenshots or videos may be provided. Acknowledge if present, but do not require them.\n\nYOUR RESPONSIBILITIES:\n\nSeverity & Priority: Determine based on impact. Examples:\nLogin failures → High/Critical\nMinor UI misalignment → Low/Medium\nSteps to Reproduce: Infer from the user's description.\nExpected Result & Actual Result: Determine logically based on issue.\nReproduction Frequency: Default to \"Always\" if unclear.\nTitle: Create a concise, clear summary of the issue.\n\nBUG REPORT FORMAT:\nGenerate exactly in this format using Markdown:\n\nTitle: [Clear, concise bug title]\nSeverity: [Critical/High/Medium/Low]\nPriority: [High/Medium/Low]\nSummary: [Brief description]\nSteps to Reproduce:\n[Step 1]\n[Step 2]\n[Step 3]\nExpected Result: [What should happen]\nActual Result: [What actually happens]\nEnvironment: [Environment details, optional]\nAdditional Information: [Device category, optional notes, attachments]\nReproduction Frequency: [Always/Sometimes/Rarely]\n\nGUIDELINES:\n\nBe decisive—generate the report immediately based on the issue description.\nFormat in clean Markdown with the exact headers above."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2384,
        0
      ],
      "name": "AI Agnet Bug Reporting",
      "id": "10cb0008-6b54-4e5a-b6f5-22435b696833"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2248,
        224
      ],
      "id": "bfc13780-874b-4167-9a45-6c3004253f6c",
      "name": "Memory"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "@bs.sabdulhaq",
          "mode": "username"
        },
        "text": "=✅ *Bug Report Approved & Ticket Created!*\n\nGreat news! Your bug report has been approved and a Jira ticket has been created.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📋 *Issue Title*\n{{ $('Evaluate Similarity').item.json.newBug.title }}\n\n🟢 *Status:* Approved\n🕐 *Time:* {{ $now.format('MM DD HH:MM') }}\n\n🎫 *Jira Ticket*\n*ID:* `{{ $(\"Code in JavaScript\").item.json.ticketKey }}`\n*Link:* {{ $(\"Code in JavaScript\").item.json.jiraURL }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nThe issue is now being tracked. Click the link above to view it in Jira!",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2256,
        0
      ],
      "id": "3f6fa48d-d6bf-4f7b-a9a2-fdf297f19c5d",
      "name": "Send a message",
      "webhookId": "346a218f-3900-44c8-84f1-bc7f975136b0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "IKR8DkPGs7BT05tQ",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "AI Bug Reporting Project"
        },
        "issueType": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ $('Evaluate Similarity').item.json.newBug.title }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "712020:1530b64d-d7bf-4750-8a7d-77a315f31c6f",
            "mode": "list",
            "cachedResultName": "Shahd Abdulhaq"
          },
          "description": "=*Priority* {{ $('Evaluate Similarity').item.json.newBug.priority }}\n*Environment:* {{ $('Evaluate Similarity').item.json.newBug.environment }}\n*Steps:*\n{{ $('Evaluate Similarity').item.json.newBug.steps }}\n*Expected Result:*\n{{ $('Evaluate Similarity').item.json.newBug.expected_result }}\n*Actual Result:*\n{{ $('Evaluate Similarity').item.json.newBug.actual_result }}\n*Additional Info:*\n{{ $('Evaluate Similarity').item.json.newBug.additional_info }}",
          "reporter": {
            "__rl": true,
            "value": "712020:23249374-b527-4222-929f-3728ae126a6e",
            "mode": "list",
            "cachedResultName": "Automation for Incident Management"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "717b2e65-95c0-44f0-93a6-2959cf348fe8",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "JADEjwl8XUJCDNV9",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "@bs.sabdulhaq",
          "mode": "username"
        },
        "text": "=❌ *Bug Report Declined*\n\nHi there! Just wanted to let you know about a bug report update.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📋 *Issue Title*\n{{ $('Evaluate Similarity').item.json.newBug.title }}\n\n🔴 *Status:* Rejected\n🕐 *Time:* {{ $now.format('MM DD HH:MM') }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nThe bug report was reviewed and declined. If you have questions, feel free to reach out to the team!",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        336,
        192
      ],
      "id": "72d1b298-e5af-4a60-8035-c09d44e6ae65",
      "name": "Bug Rejected",
      "webhookId": "2c782c60-8316-48bd-8036-219fe909dac9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "IKR8DkPGs7BT05tQ",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0fc60d0-0c19-4e06-8fc3-f5dd7815b63f",
              "leftValue": "={{$json[\"data\"][\"approved\"]}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        96
      ],
      "id": "af1873ea-f9c7-4696-a7b6-cc3107974f37",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ANY2VSG3F",
          "mode": "list",
          "cachedResultName": "all-ai-workspace"
        },
        "message": "=🐛 *New Bug Report Submitted!*\n\nHey team! We've got a new bug report that needs your review.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📋 *Bug Details*\n\n*Title:* {{ $('Evaluate Similarity').item.json.newBug.title }}\n\n*Severity:* `{{ $('Evaluate Similarity').item.json.newBug.severity }}`\n*Priority:* `{{ $('Evaluate Similarity').item.json.newBug.priority }}`\n*Environment:* {{ $('Evaluate Similarity').item.json.newBug.environment }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📝 *Summary*\n{{ $('Evaluate Similarity').item.json.newBug.summary }}\n\n🔍 *Steps to Reproduce*\n{{ $('Evaluate Similarity').item.json.newBug.steps }}\n\n✅ *Expected Result*\n{{ $('Evaluate Similarity').item.json.newBug.expected_result }}\n\n❌ *Actual Result*\n{{ $('Evaluate Similarity').item.json.newBug.actual_result }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n👇 *Please review and respond below:*",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -112,
        96
      ],
      "name": "Send issue and wait for approval",
      "webhookId": "cae20e4e-6e8b-4432-a62f-11ace7e66bc7",
      "id": "99fd9ba6-de23-4bf1-82cd-e5cb75b4065c",
      "notesInFlow": false,
      "credentials": {
        "slackOAuth2Api": {
          "id": "IKR8DkPGs7BT05tQ",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kvAe0lAuccETd4P2AXmN7G9cTyGydErtYvtL_ZP2r94",
          "mode": "list",
          "cachedResultName": "Bug Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kvAe0lAuccETd4P2AXmN7G9cTyGydErtYvtL_ZP2r94/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1743300945,
          "mode": "list",
          "cachedResultName": "BugReports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kvAe0lAuccETd4P2AXmN7G9cTyGydErtYvtL_ZP2r94/edit#gid=1743300945"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Evaluate Similarity').item.json.newBug.title }}",
            "Summary": "={{ $('Evaluate Similarity').item.json.newBug.summary }}",
            "Steps": "={{ $('Evaluate Similarity').item.json.newBug.steps }}",
            "Expected": "={{ $('Evaluate Similarity').item.json.newBug.expected_result }}",
            "Actual": "={{ $('Evaluate Similarity').item.json.newBug.actual_result }}",
            "Severity": "={{ $('Evaluate Similarity').item.json.newBug.severity }}",
            "Priority": "={{ $('Evaluate Similarity').item.json.newBug.priority }}",
            "Environment": "={{ $('Evaluate Similarity').item.json.newBug.environment }}",
            "Attachment": "={{ $(\"User Input\").item.json.files && $(\"User Input\").item.json.files.length > 0 ? $(\"User Input\").item.json.files[0].url : \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Steps",
              "displayName": "Steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected",
              "displayName": "Expected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual",
              "displayName": "Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Severity",
              "displayName": "Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Environment",
              "displayName": "Environment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Attachment",
              "displayName": "Attachment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jira ID",
              "displayName": "Jira ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jira URL",
              "displayName": "Jira URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        96
      ],
      "name": "Bugs Report Sheet",
      "id": "31ea10ab-0012-42e7-a630-ac03109de60b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LFFSZmgHO3nODSRQ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extract(text, header) {\n  if (!text) return '';\n  const regex = new RegExp('(?:\\\\*\\\\*)?' + header + ':(?:\\\\*\\\\*)?\\\\s*([\\\\s\\\\S]*?)(?=\\\\n(?:\\\\*\\\\*)?[\\\\w\\\\s]+:|$)','i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nreturn items.map(item => {\n  const output = item.json.output || item.json.ai_report || '';\n  const files = item.json.files || [];\n  \n  return {\n    json: {\n      output: output,\n      title: extract(output, 'Title'),\n      severity: extract(output, 'Severity'),\n      priority: extract(output, 'Priority'),\n      summary: extract(output, 'Summary'),\n      steps: extract(output, 'Steps to Reproduce'),\n      expected_result: extract(output, 'Expected Result'),\n      actual_result: extract(output, 'Actual Result'),\n      environment: extract(output, 'Environment'),\n      additional_info: extract(output, 'Additional Information'),\n      reproduction_frequency: extract(output, 'Reproduction Frequency'),\n      files: files\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        0
      ],
      "name": "Report Parser",
      "id": "a1873642-c0af-4c24-bf07-74593180e730"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai_report",
              "name": "ai_report",
              "value": "={{$json[\"output\"].replace(\"Here is the QA bug report in Markdown format:\\n\\n\",\"\")}}\nai_report = {{$json[\"output\"].replace(/Here is.*Markdown format:\\n\\n/i, \"\").trim()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        0
      ],
      "name": "Bug Report",
      "id": "e7ddabfb-d668-4149-8c1d-c45ddb177f13"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2608,
        0
      ],
      "name": "User Input",
      "webhookId": "f6880556-e98d-4f46-9e59-8911daf5a297",
      "id": "5b5e29fc-bd8e-4b5d-a1b6-8ca51b999a43",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "525ade6d-80c2-4a27-aad1-9de11fa1e5a3",
      "name": "Generate Bug Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1288,
        348
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "QC6ljlMD1EMpGtNB",
          "name": "n8n free OpenAI API credits"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "prompt": "={{ $json.query }}",
        "topK": 1
      },
      "id": "9c1fa98a-0956-420b-8aba-776abccee957",
      "name": "Search Similar Bugs",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1360,
        124
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $(\"User Input\").item.json.files && $(\"User Input\").item.json.files.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0573922-02a3-42bd-8b47-132de677043e",
      "name": "Check for Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "issueKey": "={{ $(\"Code in JavaScript\").item.json.ticketKey }}"
      },
      "id": "e736ad59-a52d-43ce-8f0a-1dd2c84725b1",
      "name": "Add Attachment to Jira",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1232,
        72
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "JADEjwl8XUJCDNV9",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userInput = $(\"User Input\").first();\nconst currentItem = $input.first();\n\nconst binaryKey = userInput.json.files[0].binaryKey;\nconst binaryData = userInput.binary[binaryKey];\n\nif (!binaryData) {\n  throw new Error(\"Binary data not found for key: \" + binaryKey);\n}\n\nreturn [{\n  json: currentItem.json,\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "id": "bb06dc48-21af-42e1-92cb-87db8b866f1f",
      "name": "Get File from Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        72
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Storage Document": {
      "ai_document": [
        [
          {
            "node": "Store Bug in Vector DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Generate Storage Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Store Bug in Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Bug for Storage": {
      "main": [
        [
          {
            "node": "Store Bug in Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Data Flow": {
      "main": [
        [
          {
            "node": "Evaluate Similarity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bug in Vector DB": {
      "main": [
        [
          {
            "node": "Update Sheet with Jira ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Similarity": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Notify Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bugs Report Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check for Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agnet Bug Reporting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agnet Bug Reporting": {
      "main": [
        [
          {
            "node": "Bug Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agnet Bug Reporting",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Jira ID": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bug Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send issue and wait for approval": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bugs Report Sheet": {
      "main": [
        [
          {
            "node": "Send issue and wait for approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Parser": {
      "main": [
        [
          {
            "node": "Format Search Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ensure Data Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bug Report": {
      "main": [
        [
          {
            "node": "Report Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Input": {
      "main": [
        [
          {
            "node": "AI Agnet Bug Reporting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Bug Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Search Similar Bugs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Query": {
      "main": [
        [
          {
            "node": "Search Similar Bugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Similar Bugs": {
      "main": [
        [
          {
            "node": "Ensure Data Flow",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check for Files": {
      "main": [
        [
          {
            "node": "Get File from Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Bug for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Attachment to Jira": {
      "main": [
        [
          {
            "node": "Prepare Bug for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Binary": {
      "main": [
        [
          {
            "node": "Add Attachment to Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6674ebdb-1df7-4d0c-9160-7c7531af981d",
  "meta": {
    "instanceId": "d2354742ce5af6fc66039303e7db7bfc19e1741ae47609a3bfedf938da4e30de"
  },
  "id": "rubwKhxf7yabhdW4",
  "tags": []
}